.App {
  text-align: center;
}


.flex_container{
  display: flex;
}


h1{
  position: absolute;
  bottom: 0;
  right: 50px;
}

.cat{
  background-color: lightblue;
  height: 100vh;
}

.dog{
  background-color: lightgreen;
  height: 100vh;
}