.App {
  text-align: center;
}


.flex_container{
  display: flex;
}


h1{
  position: absolute;
  bottom: 0;
  right: 50px;
}

.cat{
  background-color: skyblue;
  height: 100vh;
}

.dog{
  background-color: lightseagreen;
  height: 100vh;
}

.buttons{
  display: flex;
  background-color: white;
  width: 30%;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 35%;
  left: 35%%;
  height: 30%;
}

.liner{
  width: 2px;
  background-color: grey;
  height: 70%;
  margin: 0 20px;
}

.cat_button h2{
  color: skyblue;
}

.dog_button h2{
  color: lightseagreen;
}

h1{
  color: lightgray;
}