.App {
  text-align: center;
}


.flex_container{
  display: flex;
}


h1{
  position: absolute;
  bottom: 0;
  right: 50px;
}

.cat{
  background-color: lightblue;
  height: 100vh;
}

.dog{
  background-color: lightgreen;
  height: 100vh;
}

.buttons{
  display: flex;
  background-color: white;
  width: 20%;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 40%;
  left: 40%;
  height: 30%;
}

.liner{
  width: 3px;
  background-color: grey;
  height: 80%;
  margin: 0 20px;
}